/* Base styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1E1E2F;
    color: white;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

/* Sidebar styling */
.sidebar {
    width: 220px;
    background-color: #252537;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

}

.logo h2 {
    color: #FF5C93;
    font-size: 1.5em;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 20px 0;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 0;
    display: block;
}

.menu li a:hover {
    color: #FF5C93;
    font-size: 1.25em;
    transition-duration: 0.5s;


}

.free-plan {
    text-align: center;
    margin-top: 30px;
}

.free-plan p {
    margin: 10px 0;
}

.free-plan button {
    background-color: #FF5C93;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.free-plan button:hover {
    background-color: #FF7FAA;
}

/* Main content styling */
.main-content {
    flex: 1;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #FF5C93;
}

header p {
    font-size: 1.2em;
    color: #A9A9B3;
}

.model-selector {
    margin-top: 20px;
    margin-bottom: 20px;
}

.model-selector label {
    font-size: 1.1em;
    color: #A9A9B3;
}

.model-btn {
    margin: 10px;
    padding: 10px 30px;
    background-color: #3C3C4F;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 16px;
    transform: translateZ(0);
    transition-duration: 0.5s;

}

.model-btn:hover{
    font-size: 16px;
}
.model-btn.active {
    background-color: #FF5C93;
    color: white;

}

textarea {
     width: 80%;
    height: 200px;
    background-color: #2D2D3A;
    color: white;
    border: 1px solid #FF5C93;
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
     margin-bottom: 20px; 
}

.action-buttons {
    display: flex;
    gap: 20px;
}

.paste-btn,
.sample-btn {
    background-color: #FF5C93;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.paste-btn:hover,
.sample-btn:hover {
    background-color: #FF7FAA;
}

/* Output Section */
.output-section {
    margin-top: 30px;
    background-color: #2D2D3A;
    padding: 20px;
    border-radius: 5px;
}

.output-box {
    width: 80%;
    height: 200px;
    background-color: #2D2D3A;
    color: white;
    border: 1px solid #FF5C93;
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    margin-bottom: 20px;
}
.model-btn{
}